 <div class="text-center list_">

 <h3> <%= @restaurant.name %> </h3>
 <p><%= @restaurant.address%></p>
 <p><%= @restaurant.phone_number%></p>
 <p><%= @restaurant.category%></p>
 <hr>



<h4>Qu'en pensent les internautes ??</h4>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li> <%= review.content %> </li>
  <p> <%= review.rating %> stars</p>

  <% end %>

</ul>

<%= link_to "revenir aux restaurants", restaurants_path, class: "btn btn-primary" %>
<br>
 <%= link_to "add a comment", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

</div>
